{% extends 'web/auth/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
          <div class="login-form-bg">
           <form action="/user/invite/activate/{{return_status.activation_key}}/" method="post">
          {% csrf_token %}
            <h1>Welcome to Saalz</h1>
            {% if return_status.msg %}
            <div class="alert custom-alert">
              {{return_status.msg}}
            </div>
            {% endif %}
              <div class="form-group">
                <input type="text" class="form-control " placeholder="First Name.." id="first_name" name="first_name" value="" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control " placeholder="Last Name" id="last_name" name="last_name" value="" required>
              </div>
             <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password">

              </div>
               <input type="hidden" name="activation_key" value="{{return_status.activation_key}}"/>

              <button class="btn btn-primary btn-block">Activate</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}